body {
    background-image: url(img/mount.jpg);
    background-repeat: no-repeat;
    background-color: #ffdeba;
    background-attachment: scroll;
    background-size: cover ;
    border: 100px;

   }
h1 {
    font-size: 100px;
    font-weight: 300;
    text-decoration: underline;
    font-family: 'Muli', sans-serif;
    text-align: center;
    position: relative;
    top: 10%;
    
}
.border {

    height: 5vh;
    width: 100vw;
    background-color: lightpink;
    padding: 0%;
    border;
}

