body {
    background-image: url(img/mtfuji2.JPG);
    background-repeat: no-repeat;
    background-color: #ffdeba;
    background-attachment: scroll;
    background-size: cover;

   }
h1 {
    font-size: 10vw;
    font-family: 'Muli', sans-serif;
    text-align: center;
    position: relative;
    top: 30%
}

